<app-navigation></app-navigation>
<!--
<header>
  <nav>
    <a [routerLink]="['']">Home</a>
    <a [routerLink]="['about']">About</a>
  </nav>
</header>
-->
<main>
  <h1>Hello from {{api.title}}!</h1>

  <!-- Images (and assets) are parsed and loaded from within the public directory -->
  <img src="/img/angular.png">

  <router-outlet></router-outlet>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pellentesque, ante vel rutrum pharetra, magna arcu vestibulum nulla, sed dapibus mauris nibh eu ante. Curabitur pharetra, ante quis tristique suscipit, magna mi semper magna, egestas ullamcorper dolor dui nec velit. Vivamus semper mauris sit amet mattis rutrum. Nulla ut molestie nunc, quis efficitur mi. Sed ut fringilla odio. Ut sagittis tincidunt sapien, a rhoncus augue consectetur sit amet. Fusce auctor quam vitae sapien porta consequat. Proin sed porta tellus. Quisque convallis sem sed diam auctor, eget vehicula odio sodales. Donec aliquet ante elit. Mauris facilisis faucibus iaculis. Cras sit amet arcu porttitor, porttitor sapien sed, euismod augue. Pellentesque dui nisl, posuere et tortor quis, porta elementum lorem. Vestibulum vitae nulla eget diam fringilla porttitor.</p>

<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec malesuada velit bibendum nisl accumsan, non feugiat augue suscipit. Fusce ultrices pulvinar sapien, vel tristique eros bibendum sit amet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla at nisi risus. Nullam imperdiet urna eget ligula lacinia condimentum. In hac habitasse platea dictumst. Curabitur quis velit at metus accumsan sodales. Fusce cursus molestie sem a vestibulum. Quisque feugiat, turpis at porta euismod, enim massa facilisis risus, in commodo nibh ex non purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin ultrices volutpat accumsan.</p>

<p>Nulla porta pretium nisi, scelerisque volutpat velit. Curabitur sagittis magna in dolor scelerisque fermentum. Sed tincidunt sollicitudin semper. Donec blandit diam lorem, sed lobortis lectus rutrum convallis. Pellentesque pharetra mauris non metus lacinia, non varius urna efficitur. Maecenas ac tortor nec tortor venenatis mollis a non urna. Nulla vestibulum, nibh ut hendrerit ultrices, elit quam lobortis sem, at vulputate velit nisl eu lorem. Suspendisse a tellus interdum, pulvinar lacus a, venenatis nulla.</p>

<p>In fermentum tellus velit, sit amet vehicula orci ullamcorper sit amet. Fusce blandit interdum tellus, nec facilisis neque auctor eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam mattis eget felis et auctor. Pellentesque vel odio ante. Vivamus facilisis tellus ut volutpat feugiat. Ut vitae blandit odio. Ut faucibus risus eu molestie molestie. Maecenas vitae ante viverra, tincidunt magna at, congue est. Quisque vel turpis vel elit rhoncus consequat.</p>

<p>Suspendisse potenti. Nunc in consectetur neque. Donec a urna in lacus varius lobortis. Mauris in augue eget erat hendrerit laoreet et in nunc. Praesent auctor lacus vel viverra porttitor. Duis porttitor mattis tempus. Mauris dolor magna, sagittis et justo sed, ornare aliquet metus. Suspendisse sollicitudin, ligula eu fermentum volutpat, metus dolor commodo magna, vel fringilla est lorem quis orci. Sed at faucibus erat, eget maximus risus. Mauris laoreet massa ornare ultricies pharetra. Duis eros odio, malesuada a efficitur ac, maximus ac urna. Cras facilisis enim sagittis, congue tellus sed, ultrices purus. Duis nunc est, laoreet ut libero vitae, ullamcorper maximus lectus. Donec vestibulum laoreet accumsan. Nulla sed nisl commodo metus consectetur vehicula et convallis sem.</p>
  </div>
  
</main>
<footer>
  <a [href]="url">Webpack Angular 2 Starter</a>
</footer>
